<ion-header>
  <ion-navbar>
    <ion-title>Transacciones</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list no-line>
    <ion-item class="transactions-container" *ngFor="let t of transactionList" no-lines>
      <ion-row>
        <ion-col col-9 text-wrap>
          <div *ngIf="t.alias" class="transactions-alias">
            {{t.alias}}
          </div>
          <div *ngIf="!t.alias" class="transactions-alias">
              Dirección
          </div>
          <div class="transactions-date">
            {{t.address}}
          </div>
          <div class="transactions-date">
            {{t.date}}
          </div>
        </ion-col>
        <ion-col col-3 text-wrap>
          <div class="transactions-amount">
            {{t.amount}} <br> BTC
          </div>
        </ion-col>
      </ion-row>
    </ion-item>
  </ion-list>
</ion-content>
