<ion-header>
  <ion-navbar>
    <ion-title>{{'TRANSACTIONS.title' | translate }} </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-segment [(ngModel)]="segmentTxs">
    <ion-segment-button value="all" class="segment-button">
      {{'TRANSACTIONS.all_segment' | translate }} 
    </ion-segment-button>
    <ion-segment-button value="received" class="segment-button">
      {{'TRANSACTIONS.received_segment' | translate }}  
    </ion-segment-button>
    <ion-segment-button value="sent" class="segment-button">
      {{'TRANSACTIONS.sent_segment' | translate }} 
    </ion-segment-button>
  </ion-segment>

  <ion-item class="thin-input">
    <ion-select (ionChange)="onWalletChange()" class="select-option" 
                [(ngModel)]="selectedWallet" placeholder="Billetera">
      <ion-option *ngFor="let w of walletList" [value]="w">{{w.name}}
      </ion-option>
    </ion-select>
  </ion-item>
  <span *ngIf="isWallet">
    <ion-list no-lines *ngIf="segmentTxs === 'all'">
      <ion-item class="transactions-container" *ngFor="let t of txsList" no-lines>
        <ion-row>
          <ion-col col-9 text-wrap>
            <div class="transactions-date">
              {{t.received | date:'MMM dd, y hh:mm a'}}
            </div>
            <div class="transactions-address" *ngIf="t.filtering_value === 'received'">
              {{'TRANSACTIONS.destination' | translate }} {{t.inputs[0].addresses[0]}}
            </div>
            <div class="transactions-address" *ngIf="t.filtering_value === 'sent'">
              {{'TRANSACTIONS.destination' | translate }} {{t.outputs[0].addresses[0]}}
            </div>
          </ion-col>
          <ion-col col-3 text-wrap>
            <div class="transactions-amount">
              {{t.outputs[0].value / selectedWallet.crypto.units.exchange}}
              <br> {{selectedWallet.crypto.units.name}}
            </div>
          </ion-col>
        </ion-row>
      </ion-item>
    </ion-list>

    <ion-list no-lines *ngIf="segmentTxs !== 'all'">
      <ion-item class="transactions-container" *ngFor="let t of txsList | filterBy: ['filtering_value']: segmentTxs" no-lines>
        <ion-row>
          <ion-col col-9 text-wrap>
            <div class="transactions-date">
              {{t.received | date:'MMM dd, y hh:mm a'}}
            </div>
            <div class="transactions-address" *ngIf="segmentTxs === 'received'">
              {{'TRANSACTIONS.from' | translate }} {{t.inputs[0].addresses[0]}}
            </div>
            <div class="transactions-address" *ngIf="segmentTxs === 'sent'">
              {{'TRANSACTIONS.destination' | translate }} {{t.outputs[0].addresses[0]}}
            </div>
          </ion-col>
          <ion-col col-3 text-wrap>
            <div class="transactions-amount">
              {{t.outputs[0].value / selectedWallet.crypto.units.exchange}}
              <br> {{selectedWallet.crypto.units.name}}
            </div>
          </ion-col>
        </ion-row>
      </ion-item>
    </ion-list>
  </span>

  <span *ngIf="!isWallet">
    <ion-list no-lines *ngIf="segmentTxs === 'all'">
      <ion-item class="transactions-container" *ngFor="let t of txsList" no-lines>
        <ion-row>
          <ion-col col-9 text-wrap>
            <div class="transactions-date">
              {{t.confirmed | date:'MMM dd, y hh:mm a'}}
            </div>
            <div class="transactions-address">
              {{'TRANSACTIONS.hash' | translate }} {{t.tx_hash}}
            </div>
          </ion-col>
          <ion-col col-3 text-wrap>
            <div class="transactions-amount">
              {{t.value/ selectedWallet.crypto.units.exchange}}
              <br> {{selectedWallet.crypto.units.name}}
            </div>
          </ion-col>
        </ion-row>
      </ion-item>
    </ion-list>

    <ion-list no-lines *ngIf="segmentTxs !== 'all'">
      <ion-item class="transactions-container" *ngFor="let t of txsList | filterBy: ['filtering_value']: segmentTxs" no-lines>
        <ion-row>
          <ion-col col-9 text-wrap>
            <div class="transactions-date">
              {{t.confirmed | date:'MMM dd, y hh:mm a'}}
            </div>
            <div class="transactions-address">
              {{'TRANSACTIONS.hash' | translate }} {{t.tx_hash}}
            </div>
          </ion-col>
          <ion-col col-3 text-wrap>
            <div class="transactions-amount">
              {{t.value/ selectedWallet.crypto.units.exchange }}
              <br> {{selectedWallet.crypto.units.name}}
            </div>
          </ion-col>
        </ion-row>
      </ion-item>
    </ion-list>
  </span>
</ion-content>
