.transactions-container {
    background-color: $light;
    border-radius: $transactions-container-radius;
    height: $transactions-container-height;
    width: $transactions-container-width;

    margin:auto;
    margin-top: 10px;
    border-style: none;
  }
  
  img.transactions-img {
    max-width: $transactions-img-width;
    max-height: $transactions-img-height;
    align-content: left;
    float: left;
  }
  
  .transactions-alias {
    font-size: $font-size-transactions;
    color: $secondary;
  }
  
  .transactions-date {
    font-size: $font-size-transactions-date;
    margin-top: 2px;
    color: $secondary;
  }
  
  .transactions-amount {
    font-size: $font-size-transactions;
    color: $primary;
    text-align: right;
  }
