<ion-content padding>
  <div class="logo">
    <img src="assets/imgs/logo.svg">
  </div>
  <span *ngIf="error" class="error-message">{{error}}</span>
  <ion-list no-lines>
    <form [formGroup]="loginForm" (ngSubmit)="loginEmail(loginForm)">
      <ion-item *ngFor="let i of inputs" class="input">
        <ion-label>
          <ion-icon [name]="i.icon"></ion-icon>
        </ion-label>
        <ion-input type="{{i.type}}" formControlName="{{i.name}}" placeholder="{{i.placeholder}}">
        </ion-input>
      </ion-item>
      <button ion-button block class="login-recover-button">
        Recuperar Contraseña
      </button>
      <button ion-button block [disabled]="!loginForm.valid" type="submit" class="login-button">
        Iniciar Sesión
      </button>
    </form>
    <button ion-button block class="login-register-button" (click)="goToRegister()">
      Registrarse
    </button>
    <button ion-button block color="terciary" (click)="loginGoogle()">
      <ion-icon name="logo-googleplus"></ion-icon>
      Google
    </button>
  </ion-list>
</ion-content>
