<ion-header>
  <ion-navbar>
    <ion-title>{{'SEND_CONFIRM.title' | translate }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="page-title">
    {{'SEND_CONFIRM.sub_title' | translate }}
  </div>
  <ion-list no-lines>
    <form [formGroup]="sendForm" (ngSubmit)="sendPayment(sendForm)" *ngIf="balance">
      <ion-item class="thin-input">
        <ion-input type="number" formControlName="amount" placeholder="amount.value" [min]="min" [max]="balance.balance - min"></ion-input>
      </ion-item>
      <div class="send-confirm-info">
        <span class="send-confirm-subtitle">{{'SEND_CONFIRM.balance' | translate }} </span>

        {{balance.balance / balance.wallet.crypto.units.exchange | number}} {{balance.wallet.crypto.units.name}} <br>  

        <span class="send-confirm-subtitle">{{currency}}: </span> 
        {{ (sendForm.value.amount / balance.wallet.crypto.difference) * balance.exchange | number}} <br>

        <span class="send-confirm-subtitle">{{'SEND_CONFIRM.left' | translate }} </span> 
        {{(balance.balance / balance.wallet.crypto.units.exchange)- 
        (sendForm.value.amount / balance.wallet.crypto.units.exchange) | number }} {{balance.wallet.crypto.units.name}}<br> 

        <div class="send-confirm-subtitle">{{'SEND_CONFIRM.min_fee' | translate }}</div>
      </div>
      <ion-item class="thin-input" *ngIf="!ethereum">
          <ion-select class="select-option" formControlName="fee" placeholder="{{ 'SEND_CONFIRM.select_fee' | translate }}">
            <ion-option *ngFor="let o of feeOptions" [value]="o.value">{{o.name | translate}}
            </ion-option>
          </ion-select>
      </ion-item>
      <div class="send-confirm-info">
        {{'SEND_CONFIRM.selected_address' | translate }}
      </div>
      <ion-item *ngIf="!inputAddress" class="address-container">
        <img class="address-img" src="{{address.img}}" />
        <div class="address-alias">
          {{address.alias}}
        </div>
        <div class="address-email">
          {{address.email}}
        </div>
      </ion-item>
      <ion-item class="thin-input" *ngIf="!ethereum" >
        <ion-select class="select-option" formControlName="metadata" placeholder="{{ 'SEND_CONFIRM.metadata' | translate }}">
          <ion-option *ngFor="let o of metadataOptions" [value]="o.value">{{o.name | translate}}
          </ion-option>
        </ion-select>
      </ion-item>
      <ion-item *ngIf="inputAddress" class="address-container">
        <div class="address-address">
          {{address}}
        </div>
      </ion-item>
      <button class="send-button button-continue" ion-button block type="submit">
        {{'FORM.send' | translate }}
      </button>
    </form>
    <ion-item *ngIf="message" class="error-message">
     {{message}}
    </ion-item>
  </ion-list>
</ion-content>
