<ion-header>
  <ion-navbar>
    <ion-title>{{'SEND_CONFIRM.title' | translate }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="page-title">
    {{'SEND_CONFIRM.sub_title' | translate }}
  </div>
  <ion-list no-lines>
    <form [formGroup]="sendForm" (ngSubmit)="sendPayment(sendForm)" *ngIf="balance">
      <ion-item class="thin-input">
        <ion-input type="number" formControlName="amount" placeholder="amount.value" [min]="fee" [max]="balance.balance - fee"></ion-input>
      </ion-item>
      <div class="send-confirm-info">
        <span class="send-confirm-subtitle">{{'SEND_CONFIRM.balance' | translate }} </span>{{balance.balance / balance.wallet.crypto.units.exchange}} {{balance.wallet.crypto.units.name}} <br>     
        <span class="send-confirm-subtitle">{{currency.name}}: </span> {{sendForm.value.amount / currency.exchange}} <br>
        <span class="send-confirm-subtitle">{{'SEND_CONFIRM.left' | translate }} </span> {{(balance.balance / balance.wallet.crypto.units.exchange)- 
        (sendForm.value.amount / balance.wallet.crypto.units.exchange)}} {{balance.wallet.crypto.units.name}}<br> 

        <div class="send-confirm-subtitle">{{'SEND_CONFIRM.min_fee' | translate }}</div>
      </div>
      <ion-item class="thin-input">
        <ion-input type="number" formControlName="fee" placeholder="fee" [min]="fee" [max]="balance.balance"></ion-input>
      </ion-item>
      <ion-item class="thin-input">
        <ion-input type="text" formControlName="token" placeholder="{{'SEND_CONFIRM.token' | translate }}"></ion-input>
      </ion-item>
      <div class="send-confirm-info">
        {{'SEND_CONFIRM.selected_address' | translate }}
      </div>
      <ion-item *ngIf="!inputAddress" class="address-container">
        <img class="address-img" src="{{address.img}}" />
        <div class="address-alias">
          {{address.alias}}
        </div>
        <div class="address-email">
          {{address.email}}
        </div>
      </ion-item>
      <ion-item class="thin-input">
          <ion-input type="text" formControlName="metadata" placeholder="{{'SEND_CONFIRM.metadata' | translate }}"></ion-input>
      </ion-item>
      <ion-item *ngIf="inputAddress" class="address-container">
        <div class="address-address">
          {{address}}
        </div>
      </ion-item>
      <button class="send-button button-continue" ion-button block type="submit">
        {{'FORM.send' | translate }}
      </button>
    </form>
    <ion-item *ngIf="message" class="error-message">
      Error {{message}}
    </ion-item>
  </ion-list>
</ion-content>
