<ion-header>
  <ion-navbar>
    <ion-title>{{'CREATE_WALLET.title' | translate }}</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <img *ngIf="newUser" class="confirm-email-img" src="../assets/icons/menu-icon.svg">
  <div class="page-title">
    {{'CREATE_WALLET.sub_title' | translate }}
  </div>
  <ion-list no-lines>
    <div class="new-user">
      {{'CREATE_WALLET.select_crypto' | translate }}
    </div>
    <ion-item class="crypto input">
      <ion-label>{{'cryptocoins' | translate }}</ion-label>
      <ion-select class="select-crypto" [(ngModel)]="selectedCrypto">
        <ion-option *ngFor="let c of crypto" value="{{c.value}}">{{c.name}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item class="input">
      <ion-label class="passphrase-label">{{'passphrase' | translate }}</ion-label>
      <ion-input class="passphrase-input" type="password" [(ngModel)]="passphrase"></ion-input>
    </ion-item>
    <ion-item class="passphrase-info" text-wrap>
      {{'CREATE_WALLET.passphrase_info' | translate }}
    </ion-item>
  </ion-list>
  <button ion-button class="footer-button" [disabled]="(selectedCrypto===undefined) || (passphrase===undefined)" block (click)="continue()">
    {{'FORM.continue' | translate }}
  </button>
</ion-content>
