.thin-input.date {
  margin-top: $padding-lg;
  background-color: $secondary;
  color: $clear;
}

.activity-date {
  color: $secondary;
  font-size: $font-size-input-thin;
}

.wallet-card {
  color: $clear;
  border-radius: $button-radius;
  width: $input-thin-width;
  margin:auto;
  margin-top: $padding-sm;
  height: auto;
}

.request-list{
  background: linear-gradient(#3c4661, $secondary);
}

.pendingTx-list{
  background: linear-gradient($tertiary, $primary);
}

.request-img {
  padding-top: $padding-sm;
  text-align: center;
  font-size: 2em;
  color: $primary;
}

.request-title, .pendingTx-title {
  color: $clear;
  font-size: $font-size-small-title;
}

.pendingTx-title {
  text-align: center;
}

.request-body {
  font-size: $font-size-info-text;
}

.request-button{
  margin-top: 0;
  display: inline-block;
  text-align: center;
  padding: none;
  margin: none !important;
  width: fit-content;
}

.pendingTx-button{
  color: $secondary;
  text-align: center;
  display: block; 
  margin: auto;
  border-color: $secondary;
  border-width: 2px;
  margin-bottom: $padding-sm;
}

.dismiss-icon {
  font-size: 1em;
  margin: auto;
}