<ion-header>
  <ion-navbar>
    <ion-title>{{'ACTIVITY.title' | translate }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="error-message" *ngIf="error">
    {{error}}
  </div>
  <ion-list *ngIf="requestList">
    <ion-card class="wallet-card request-list" *ngFor="let r of requestList | async">
      <div class="request-img">
        <ion-icon name="currency-{{r.crypto}}" item-left></ion-icon>
      </div>
      <ion-card-content>
        <ion-card-title class="request-title">
            {{'ACTIVITY.request_title' | translate }}
        </ion-card-title>
        <div class="request-body" text-wrap>
            {{'ACTIVITY.request_body' | translate: {'user': r.createdBy, 'type': r.crypto} }}
          <br> {{'ACTIVITY.request_type' | translate }} {{r.type}}
        </div>
      </ion-card-content>
      <ion-row>
        <ion-col>
          <button class="request-button"ion-button icon-left clear small on-click="acceptRequest(r)">
            <ion-icon name="thumbs-up"></ion-icon>
            <div>{{'FORM.accept' | translate }}</div>
          </button>
        </ion-col>
        <ion-col>
          <button class="request-button"ion-button icon-left clear small on-click="rejectRequest(r)">
            <ion-icon name="thumbs-down"></ion-icon>
            <div>{{'FORM.reject' | translate }}</div>
          </button>
        </ion-col>
      </ion-row>
    </ion-card>
  </ion-list>

  <ion-list *ngIf="pendingTxList">
    <ion-card class="wallet-card pendingTx-list" *ngFor="let t of pendingTxList | async">
      <ion-card-content>
        <ion-card-header class="pendingTx-title">
          <ion-icon class="dismiss-icon" style="float: right;" (click)="dismissPendingTx(t)" name="close">
          </ion-icon>
          {{'ACTIVITY.pending_tx_title' | translate }}
        </ion-card-header>
        <div class="pendingTx-body" text-wrap>
            {{'ACTIVITY.pending_tx_body' | translate: {user: t.createdBy } }}
          <br> {{'ACTIVITY.destination' | translate }} {{t.to}}
          <br> {{'ACTIVITY.amount' | translate }} {{t.amount}}
        </div>
      </ion-card-content>
          <button class="pendingTx-button" ion-button icon-left outline on-click="acceptPendingTx(t)">
            <ion-icon name="checkmark"></ion-icon>
            <div>{{'FORM.accept' | translate }}</div>
          </button>
    </ion-card>
  </ion-list>
  <ion-list no-lines>
    <ion-item class="thin-input date">
        {{'ACTIVITY.activity_title' | translate }}
    </ion-item>
    <ion-item-sliding *ngFor="let a of activityList | async" text-wrap>
      <ion-item class="thin-input">
        <div class="activity-date">{{a.date | date:'MMM dd, y hh:mm a'}}</div>
        {{a.name | translate}}
      </ion-item>
      <ion-item-options>
        <button ion-button color="danger" (click)="removeActivity(a)" icon-start>
          <ion-icon name="trash"></ion-icon> {{'FORM.delete' | translate }} </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
