<ion-header>
  <ion-navbar>
    <ion-title>
      Registrarse
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <div class="error-message error-title" *ngIf="title">{{errorTitle</div>
  <span class="error-message" *ngIf="error">{{error}}</span>
  <form [formGroup]="registerForm" (ngSubmit)="registerUser(registerForm)">
    <ion-list no-lines>
      <ion-item *ngFor="let i of inputs" class="input">
        <ion-label>
          <ion-icon [name]="i.icon"></ion-icon>
        </ion-label>
        <ion-input type="{{i.type}}" formControlName="{{i.name}}" placeholder="{{i.placeholder}}">
        </ion-input>
      </ion-item>
      <button ion-button block [disabled]="!registerForm.valid" type="submit">
        Continuar
      </button>
    </ion-list>
  </form>
</ion-content>
