<ion-header>
  <ion-navbar>
    <ion-title>Crear Billetera</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <img class="confirm-email-img" src="../assets/icons/menu-icon.svg">
  <div class="page-title">
    Creación de Billeteras Multifirmadas
  </div>
  <ion-list no-lines>
    <form (ngSubmit)="continue(walletForm.value)" #walletForm="ngForm">
      <ion-item class="crypto input">
        <ion-label>Criptomoneda</ion-label>
        <ion-select class="select-crypto" name="selectedCrypto" [(ngModel)]="selectedCrypto" required>
          <ion-option *ngFor="let c of crypto" value="{{c.value}}">{{c.name}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item class="crypto input">
        <ion-label>Tipo</ion-label>
        <ion-select class="select-crypto"  name="numberOfSigners" [(ngModel)]="numberOfSigners" (ionChange)="onSignersChange()" required>
          <ion-option *ngFor="let s of signers"value="{{s}}">{{s}}</ion-option>
        </ion-select>
        <ion-select class="select-crypto" name="numberOfSignatures" [(ngModel)]="numberOfSignatures" [disabled] ="!numberOfSigners">
          <ion-option *ngFor="let s of signatures"  value="{{s}}">{{s}}</ion-option>
        </ion-select>
      </ion-item>
      <div *ngIf="numberOfSigners">
        <ion-item *ngFor="let user of users; let i = index; trackBy: trackByIndex;" class="input">
          <ion-label>Firmante {{i + 1}}: </ion-label>
          <ion-input type="email" placeholder="Correo" [name]="'user-'+i" [(ngModel)]="users[i]" required></ion-input>
        </ion-item>
      </div>
      <div *ngIf="error" class="error">
        {{error}}
      </div>
      <button ion-button type="submit" class="footer-button" [disabled]="!walletForm.form.valid" block>
        Continuar
      </button>
    </form>
  </ion-list>
</ion-content>
