

.page-create-multiwallet {
    .select-label  {
        max-width: 20%;
        color: $dark !important;
    }
    
    .select-signers {
        min-width: 50 !important;
        display: inline-block;
        position: relative !important;
    }
}
