<ion-header>
  <ion-navbar>
    <ion-title>{{'EDIT_ADDRESS.title' | translate }}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <form [formGroup]="addressForm" (ngSubmit)="onSubmit(addressForm)">
    <ion-list>
      <ng-container *ngFor="let i of inputs">
        <ion-item class="input" *ngIf="(i.name!=='key') && (i.name!=='img')">
          <ion-label>
            {{i.placeholder | translate}}
          </ion-label>
          <ion-input type="{{i.type}}" value={{i.value}} formControlName="{{i.name}}" required></ion-input>
        </ion-item>
      </ng-container>
      <button ion-button color="secondary" block (click)="goBack()">
        {{'FORM.select_image' | translate }}
      </button>
      <button ion-button type="submit" color="primary" block [disabled]="!addressForm.valid">
        {{'FORM.save' | translate }}
      </button>
    </ion-list>
  </form>
</ion-content>
