.home-info{
    font-size: $font-size-info-text;
    color: $dark;
    text-align: center;
    margin-top: $padding-lg;
    margin-bottom: $padding-lg;
}

.home-balance {
    font-family: "Wallet-Bold";
    font-size: $font-size-home-balance;
}

.home-btc-balance {
    font-size: 30%;
}

.home-wallet {
    font-family: "Wallet";
    font-size: $font-size-home-wallet;
    color: $secondary;
    text-align: center;
}

.home-button {
    width: $home-button-width;
    height: $home-button-height;
    border-radius: $home-button-radius;
    font-size: $font-size-buttons;
    margin-top: 10px;
    margin-left:auto;
    margin-right:auto;
}

.receive-button{
    background: $secondary;
}

.send-button{
    background: $terciary;
}

.code-sm img{
    display:block;
    width: 50%;
    height:auto;
    margin-left:auto;
    margin-right:auto;
}