<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      {{'HOME.title' | translate }}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content no-bounce overflow-scroll="false">
  <ion-refresher class="home-refresher" (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-slides pager="true" class="balances-slides" *ngIf="!balances">
    <ion-slide class="wallet-slide" *ngFor="let w of wallets">
      <div class="display-img home-balance">
        <ion-icon class="currency" name="currency-{{w.crypto.value}}" item-top></ion-icon>
        {{ w.crypto.coin }}
      </div>
      <div class="page-title">
          {{'wallet' | translate }} {{w.crypto.name | uppercase}}
      </div>
      <div class="home-wallet">
        {{w.name}}
      </div>
      <div class="home-info">
        <p>{{error}}</p>
      </div>
    </ion-slide>
  </ion-slides>
  <ion-slides pager="true" class="balances-slides" *ngIf="balances">
    <ion-slide class="wallet-slide" *ngFor="let b of balances">
      <div class="display-img home-balance">
        {{ b.balance / b.wallet.crypto.units.exchange }}
        <span class="home-balance-unit">
          <b class="crypto">
            <ion-icon [name]="b.wallet.crypto.coin" item-left></ion-icon>
          </b>{{b.wallet.crypto.units.name}}</span>
        <div class="home-btc-balance">
          {{b.balance / currency.exchange }} {{currency.name| uppercase}}
        </div>
      </div>
      <div class="page-title">
          {{'wallet' | translate }} {{b.wallet.crypto.name | uppercase}}
      </div>
      <div class="home-wallet">
        {{b.wallet.name}}
      </div>
      <div class="home-info">
        <p> {{'HOME.transactions' | translate }}: {{b.n_tx}}</p>
        <p> {{'HOME.total_received' | translate }}: {{b.total_received / b.wallet.crypto.units.exchange }} {{ b.wallet.crypto.units.name }}</p>
        <p> {{'HOME.total_sent' | translate }}: {{b.total_sent / b.wallet.crypto.units.exchange }} {{ b.wallet.crypto.units.name }}</p>
        <p> {{'HOME.unconfirmed_balance' | translate }}: {{ b.unconfirmed_balance / b.wallet.crypto.units.exchange }} {{b.wallet.crypto.units.name}}
        </p>
        <p>{{'HOME.unconfirmed_n_tx' | translate }}: {{b.unconfirmed_n_tx}}</p>
      </div>
      <div class="home-info" *ngIf="error">
        <p>{{error}}</p>
      </div>
      <button class="home-button receive-button" block ion-button on-click="goToReceive(b.wallet)">
          {{'FORM.receive' | translate }}
      </button>
      <button class="home-button send" block ion-button on-click="goToSend(b)">
          {{'FORM.send' | translate }}
      </button>
    </ion-slide>
    <ion-slide class="new-wallet-slide">
      <ion-icon class="new-wallet-icon" name="add" on-click="createNewMultiWallet()"></ion-icon>
      <button class="new-wallet-button" block ion-button on-click="createNewMultiWallet()">
          {{'FORM.add_multisigned_wallet' | translate }}
      </button>
      <ion-icon class="new-wallet-icon" name="add" on-click="createNewWallet()"></ion-icon>
      <button class="new-wallet-button" block ion-button on-click="createNewWallet()">
          {{'FORM.add_wallet' | translate }}
      </button>
    </ion-slide>
  </ion-slides>

</ion-content>
