.balance {
    display:block;
    width:100%;
    height:auto;
    margin-left:auto;
    margin-right:auto;
}

.codigo img{
    display:block;
    width: 50%;
    height:auto;
    margin-left:auto;
    margin-right:auto;
}