<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Inicio
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content no-bounce overflow-scroll="false">
  <ion-refresher class="home-refresher" (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-slides pager="true" class="balances-slides" *ngIf="!balances">
    <ion-slide class="wallet-slide" *ngFor="let w of wallets">
      <div class="display-img home-balance">
        <ion-icon class="currency" name="currency-{{w.crypto.value}}" item-top></ion-icon>
        {{ w.crypto.coin }}
      </div>
      <div class="page-title">
        Billetera {{w.crypto.name | uppercase}}
      </div>
      <div class="home-wallet">
        {{w.name}}
      </div>
      <div class="home-info">
        <p>{{error.message}}</p>
      </div>
    </ion-slide>
  </ion-slides>
  <ion-slides pager="true" class="balances-slides" *ngIf="balances">
    <ion-slide class="wallet-slide" *ngFor="let b of balances">
      <div class="display-img home-balance">
        {{ b.balance / b.wallet.crypto.units.exchange }}
        <span class="home-balance-unit">
          <b class="crypto">
            <ion-icon [name]="b.wallet.crypto.coin" item-left></ion-icon>
          </b>{{b.wallet.crypto.units.name}}</span>
        <div class="home-btc-balance">
          {{b.balance / currency.exchange }} {{currency.name| uppercase}}
        </div>
      </div>
      <div class="page-title">
        Billetera {{b.wallet.crypto.name | uppercase}}
      </div>
      <div class="home-wallet">
        {{b.wallet.name}}
      </div>
      <div class="home-info">
        <p>Transacciones: {{b.n_tx}}</p>
        <p>Total Recibido: {{b.total_received / b.wallet.crypto.units.exchange }} {{ b.wallet.crypto.units.name }}</p>
        <p>Total Enviado: {{b.total_sent / b.wallet.crypto.units.exchange }} {{ b.wallet.crypto.units.name }}</p>
        <p>Balance por Confirmar: {{ b.unconfirmed_balance / b.wallet.crypto.units.exchange }} {{b.wallet.crypto.units.name}}
        </p>
        <p>Transacciones por Confirmar: {{b.unconfirmed_n_tx}}</p>
      </div>
      <button class="home-button receive-button" block ion-button on-click="goToReceive(b.wallet)">
        Recibir
      </button>
      <button class="home-button send" block ion-button on-click="goToSend(b)">
        Enviar
      </button>
    </ion-slide>
    <ion-slide class="new-wallet-slide">
      <ion-icon class="new-wallet-icon" name="add" on-click="createNewMultiWallet()"></ion-icon>
      <button class="new-wallet-button" block ion-button on-click="createNewMultiWallet()">
        Agregar Billetera MultiFirmada
      </button>
      <ion-icon class="new-wallet-icon" name="add" on-click="createNewWallet()"></ion-icon>
      <button class="new-wallet-button" block ion-button on-click="createNewWallet()">
        Agregar Billetera
      </button>
    </ion-slide>
  </ion-slides>

</ion-content>
