page-blockchain {
    ion-list{
        font-size: $font-size-info-text;
        padding: 0px;
    }
    
    ion-label.label-md {
        margin: 0px;
        margin-bottom: $padding-sm;
    }
    
    .blockchain-item {
        font-size: 1em;
        border-bottom: 1px $primary solid !important;
    }

    .blockchain-item:last-child {
        border-bottom: none !important;
    }
    
    .block-info ion-item {
        background-color: transparent;
        border-bottom: 1px solid $grey !important;
    }
    
    .block-info {
        background-color: $light;
        margin-left: $padding-sm;
        margin-right: $padding-sm;
        border-radius: 0.8em;
    }

    .blockchain-icon{
        display: inline-block;
        vertical-align: middle;
        margin-right: 0px;
        font-size: 0.9em;
    }
    
    .blockchain-text {
        font-size: 0.7em;
        text-align: center;
    }

    .blockchain-title{
        color: $secondary;
        text-align: left;
    }

    .blockchain-button {
        background-color: transparent;
    }
    
}
