<ion-header>
  <ion-navbar>
    <ion-title>{{'BLOCKCHAIN.title' | translate }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <span class="error-message" *ngIf="error!==undefined">
        {{error}}
  </span>
  <ion-list no-lines>
    <ion-item class="crypto input">
      <ion-label>{{'cryptocoins' | translate }}</ion-label>
      <ion-select class="select-crypto" [(ngModel)]="selectedCrypto" (ionChange)="onBlockchainChange()">
        <ion-option *ngFor="let c of crypto" value="{{c.value}}">{{c.name}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item class="input">
      <ion-label>
        <ion-icon name="search"></ion-icon>
      </ion-label>
      <ion-input type="text" [(ngModel)]="searchValue" minlength="64" maxlength="64" placeholder="{{'BLOCKCHAIN.search' | translate }}">
      </ion-input>
    </ion-item>
    <div *ngIf="selectedCrypto && blockchain" class="blockchain-info">
      <ion-item class="header">
        {{'BLOCKCHAIN.default_block' | translate }}
      </ion-item>
      <ion-item text-wrap>
        {{'BLOCKCHAIN.time' | translate }} {{blockchain.time | date:'dd MMM, y hh:mm a'}}
      </ion-item>
      <ion-item text-wrap>
        {{'BLOCKCHAIN.height' | translate }} {{blockchain.height}}
      </ion-item>
      <button ion-item (click)="toggleBlock(blockchain.hash)">
        {{'BLOCKCHAIN.hash' | translate }}{{blockchain.hash}}
        <ion-icon *ngIf="!showBlock" name="arrow-dropright" item-end></ion-icon>
        <ion-icon *ngIf="showBlock" name="arrow-dropdown" item-end></ion-icon>
      </button>
    </div>
    <div *ngIf="(showBlock)" class="block-info" [@enterAnimation]>
      <ion-item class="header">
        {{'BLOCKCHAIN.block_title' | translate }}
      </ion-item>
      <ion-item text-wrap>
        {{'BLOCKCHAIN.block_hash' | translate }}{{block.hash}}
      </ion-item>
      <ion-item>
        {{'BLOCKCHAIN.block_nonce' | translate }} {{block.nonce}}
      </ion-item>
      <ion-item>
        {{'BLOCKCHAIN.block_height' | translate }} {{block.height}}
      </ion-item>
      <ion-item>
        {{'BLOCKCHAIN.block_size' | translate }} {{block.size}}
      </ion-item>
      <ion-item>
        {{'BLOCKCHAIN.block_n_tx' | translate }} {{block.n_tx}}
      </ion-item>
      <ion-item>
        {{'BLOCKCHAIN.block_total' | translate }} {{block.total}}
      </ion-item>
      <ion-item>
        {{'BLOCKCHAIN.block_fees' | translate }} {{block.fees}}
      </ion-item>
      <ion-item>
        {{'BLOCKCHAIN.block_time' | translate }} {{block.time | date:'dd MMM, y hh:mm a'}}
      </ion-item>
      <ion-item>
        {{'BLOCKCHAIN.block_received_time' | translate }}: {{block.received_time | date:'dd MMM, y hh:mm a' }}
      </ion-item>
      <button ion-item (click)="getBlock(block.prev_block, true)">
        {{'BLOCKCHAIN.block_prev_block' | translate }} {{block.prev_block}}
        <ion-icon name="arrow-dropright" item-end></ion-icon>
      </button>
    </div>
  </ion-list>
</ion-content>
