<ion-header>
  <ion-navbar>
    <ion-title>Explorador</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list no-lines>
    <ion-item class="crypto input">
      <ion-label>Criptomonedas</ion-label>
      <ion-select class="select-crypto" [(ngModel)]="selectedCrypto" (ionChange)="onBlockchainChange()">
        <ion-option *ngFor="let c of crypto" value="{{c.value}}">{{c.name}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item class="input">
      <ion-label>
        <ion-icon name="search"></ion-icon>
      </ion-label>
      <ion-input type="text" [(ngModel)]="searchValue" placeholder="Buscar Bloque o TX">
      </ion-input>
    </ion-item>
    <div *ngIf="selectedCrypto && blockchain" class="blockchain-info">
      <ion-item class="header">
        Blockchain Bitcoin
      </ion-item>
      <ion-item text-wrap>
        Última Actualización: {{blockchain.time | date:'dd MMM, y hh:mm a'}}
      </ion-item>
      <ion-item text-wrap>
        Altura: {{blockchain.height}}
      </ion-item>
      <button ion-item (click)="toggleBlock(blockchain.hash)">
        Último Bloque: {{blockchain.hash}}
        <ion-icon *ngIf="!showBlock" name="arrow-dropright" item-end></ion-icon>
        <ion-icon *ngIf="showBlock" name="arrow-dropdown" item-end></ion-icon>
      </button>
    </div>
    <div *ngIf="(showBlock)" class="block-info" [@enterAnimation]>
      <ion-item class="header">
        Bloque
      </ion-item>
      <ion-item text-wrap>
        Hash del Bloque: {{block.hash}}
      </ion-item>
      <ion-item>
        Nonce: {{block.nonce}}
      </ion-item>
      <ion-item>
        Altura del Bloque: {{block.height}}
      </ion-item>
      <ion-item>
        Tamaño: {{block.size}}
      </ion-item>
      <ion-item>
        Número de Transacciones: {{block.n_tx}}
      </ion-item>
      <ion-item>
        Volumen de Transacciones: {{block.total}}
      </ion-item>
      <ion-item>
        Comisiones de las Transacciones: {{block.fees}}
      </ion-item>
      <ion-item>
        Fecha y Hora: {{block.time | date:'dd MMM, y hh:mm a'}}
      </ion-item>
      <ion-item>
        Hora de Recepción: {{block.received_time | date:'dd MMM, y hh:mm a' }}
      </ion-item>
      <button ion-item (click)="getBlock(block.prev_block, true)">
        Bloque Previo: {{block.prev_block}}
        <ion-icon name="arrow-dropright" item-end></ion-icon>
      </button>
    </div>
  </ion-list>
</ion-content>
