.blockchain-info, .block-info {
    .item {
        font-size: $font-size-info-text;
    }
    .header {
        font-weight: bold;
        font-size: 1.2em;                
    }
}

.block-info, .blockchain-info {
    padding-top: $padding-md;
}
