<ion-header>
  <ion-navbar>
    <ion-title>{{'BLOCKCHAIN.title' | translate }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <span class="error-message" *ngIf="error!==undefined">
    {{error}}
  </span>
  <ion-list no-lines>
    <ion-item class="input">
      <ion-label>{{'cryptocoins' | translate }}</ion-label>
      <ion-select class="select-crypto" [(ngModel)]="selectedCrypto" (ionChange)="onBlockchainChange()">
        <ion-option *ngFor="let c of crypto" value="{{c.value}}">{{c.name}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item class="input">
      <ion-label>
        <ion-icon name="search"></ion-icon>
      </ion-label>
      <ion-input type="text" [(ngModel)]="searchValue" minlength="64" maxlength="64" placeholder="{{'BLOCKCHAIN.search' | translate }}">
      </ion-input>
    </ion-item>
    <div *ngIf="selectedCrypto && blockchain" class="blockchain-info selectable">
      <ion-item class="blockchain-item" text-wrap>
        {{'BLOCKCHAIN.time' | translate }} {{blockchain.time | date:'dd MMM, y hh:mm a'}}
      </ion-item>
      <ion-item class="blockchain-item"text-wrap>
        {{'BLOCKCHAIN.height' | translate }} {{blockchain.height}}
      </ion-item>
      <button class="blockchain-item" ion-item (click)="toggleBlock(blockchain.hash)">
        {{'BLOCKCHAIN.hash' | translate }}{{blockchain.hash}}
        <ion-icon *ngIf="!showBlock" name="arrow-dropright" item-end></ion-icon>
        <ion-icon *ngIf="showBlock" name="arrow-dropdown" item-end></ion-icon>
      </button>
    </div>
    <ion-list *ngIf="(showBlock)" class="block-info selectable" [@enterAnimation]>
      <ion-item>
        <div class="blockchain-title">
          <ion-icon name="blockchain-hash" item-left class="blockchain-icon"></ion-icon>
          {{'BLOCKCHAIN.block_hash' | translate }}
        </div>
        <span class="blockchain-text"> {{block.hash}} </span>
      </ion-item>
      <ion-item>
        <div class="blockchain-title">
          <ion-icon name="blockchain-nonce" item-left class="blockchain-icon"></ion-icon>
          {{'BLOCKCHAIN.block_nonce' | translate }}
        </div>
        <span class="blockchain-text"> {{block.nonce}} </span>
      </ion-item>
      <ion-item>
        <div class="blockchain-title">
          <ion-icon name="blockchain-height" item-left class="blockchain-icon"></ion-icon>
          {{'BLOCKCHAIN.block_height' | translate }}
        </div>
        <span class="blockchain-text"> {{block.height}} </span>
      </ion-item>
      <ion-item>
        <div class="blockchain-title">
          <ion-icon name="blockchain-size" item-left class="blockchain-icon"></ion-icon>
          {{'BLOCKCHAIN.block_size' | translate }}
        </div>
        <span class="blockchain-text"> {{block.size}} </span>
      </ion-item>
      <ion-item>
        <div class="blockchain-title">
          <ion-icon name="blockchain-n_tx" item-left class="blockchain-icon"></ion-icon>
          {{'BLOCKCHAIN.block_n_tx' | translate }}
        </div>
        <span class="blockchain-text"> {{block.n_tx}} </span>
      </ion-item>
      <ion-item>
        <div class="blockchain-title">
          <ion-icon name="blockchain-total" item-left class="blockchain-icon"></ion-icon>
          {{'BLOCKCHAIN.block_total' | translate }}
        </div>
        <span class="blockchain-text"> {{block.total}}</span>
      </ion-item>
      <ion-item>
        <div class="blockchain-title">
          <ion-icon name="blockchain-fees" item-left class="blockchain-icon"></ion-icon>
          {{'BLOCKCHAIN.block_fees' | translate }}
        </div>
        <span class="blockchain-text"> {{block.fees}}</span>
      </ion-item>
      <ion-item>
        <div class="blockchain-title">
          <ion-icon name="blockchain-time" item-left class="blockchain-icon"></ion-icon>
          {{'BLOCKCHAIN.block_time' | translate }}
        </div>
        <span class="blockchain-text">{{block.time | date:'dd MMM, y hh:mm a'}}</span>
      </ion-item>
      <ion-item>
        <div class="blockchain-title">
          <ion-icon name="blockchain-received" item-left class="blockchain-icon"></ion-icon>
          {{'BLOCKCHAIN.block_received_time' | translate }}
        </div>
        <span class="blockchain-text">{{block.received_time | date:'dd MMM, y hh:mm a' }}</span>
      </ion-item>
      <button ion-item class="blockchain-button" (click)="getBlock(block.prev_block, true)">
        <div class="blockchain-title">
          <ion-icon name="blockchain-prev-block" item-left class="blockchain-icon"></ion-icon>
          {{'BLOCKCHAIN.block_prev_block' | translate }}
        </div>
        <span class="blockchain-text">{{block.prev_block}}</span>
        <ion-icon name="arrow-dropright" item-end></ion-icon>
      </button>
    </ion-list>
  </ion-list>
</ion-content>