<ion-header>

  <ion-navbar>
    <ion-title>{{'EXCHANGE.title' | translate }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <span class="error-message" *ngIf="error!==undefined">
    {{error}}
  </span>
  <ion-list no-lines *ngIf="error===undefined">

    <ion-item class="thin-input">
      <ion-select (ionChange)="onWalletSelect()" class="select-option" [(ngModel)]="originWallet" placeholder="{{'EXCHANGE.select_origin' | translate }}">
        <ion-option *ngFor="let w of walletList" [value]="w">{{w.name}}
        </ion-option>
      </ion-select>
    </ion-item>
    <ion-item class="wallet-balance" *ngIf="originBalance">
      {{'EXCHANGE.balance' | translate }} {{originBalance.balance / currency.exchange}} {{currency.name| uppercase}}
    </ion-item>
    <ion-item class="thin-input" *ngIf="originWallet">
      <ion-select (ionChange)="onWalletSelect()" class="select-option" [(ngModel)]="destinationWallet" placeholder="{{'EXCHANGE.select_destination' | translate }}">
        <ion-option *ngFor="let w of walletDestinationList" [value]="w">{{w.name}}
        </ion-option>
      </ion-select>
    </ion-item>
    <ion-item class="wallet-balance" *ngIf="destinationBalance">
      {{'EXCHANGE.balance' | translate }} {{destinationBalance.balance / currency.exchange }} {{currency.name| uppercase}}
    </ion-item>
    <div *ngIf="destinationBalance && exchangeRate">
      <ion-item class="input">
        <ion-label>{{'EXCHANGE.amount' | translate }} </ion-label>
        <ion-input [(ngModel)]="amount" type="number" [min]="exchangeRate.minerFee"></ion-input>
      </ion-item>
      <ion-item>
        {{'EXCHANGE.destination_amount' | translate }} {{destinationWallet.crypto.coin}}: {{amount / exchange.rate }}
      </ion-item>
    </div>
  </ion-list>
</ion-content>
