.receive-address{
    margin-top: $padding-md;
    font-size: $font-size-title;
    color: $secondary;
    text-align: center;
}
.receive-code img{
    margin-top: $padding-md;
    display:block;
    width:100%;
    margin-left: auto;
    margin-right: auto;

}