// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts

$font-path: "../assets/fonts";

// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;
@import "ionic.globals";

// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/

// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: ( 
  primary : #d56930, 
  secondary : #c56126, 
  terciary : #243156, 
  dark : #686868,
  light: #e4e5e4,
  clear: #ffffff,
);

$toolbar-background: map-get($colors, primary);


@font-face {
  font-family: "Wallet";
  src: url("../assets/fonts/SF-Pro-Display-Regular.otf");
}


@font-face {
  font-family: "Wallet-Bold";
  src: url("../assets/fonts/SF-Pro-Display-Bold.otf");
}


ion-icon {
  &[class*="wallet-"] {
    // Instead of using the font-based icons
    // We're applying SVG masks
    mask-size: contain;
    mask-position: 50% 50%;
    mask-repeat: no-repeat;
    background: map-get($colors, primary);
    width: 1em;
    height: 1em;
  } // custom icons
  &[class*="wallet-activity"] {
    mask-image: url(../assets/icon/wallet-activity.svg);
  }
  &[class*="wallet-home"] {
    mask-image: url(../assets/icon/wallet-home.svg);
  }
  &[class*="wallet-address-book"] {
    mask-image: url(../assets/icon/wallet-address-book.svg);
  }
  &[class*="wallet-transactions"] {
    mask-image: url(../assets/icon/wallet-transactions.svg);
  }
  &[class*="wallet-account"] {
    mask-image: url(../assets/icon/wallet-account.svg);
  }
  &[class*="wallet-logout"] {
    mask-image: url(../assets/icon/wallet-logout.svg);
  }
}

// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here


// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here

$button-md-text-transform: none;
$button-md-box-shadow: none;


// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here

// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";
// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";
// Fonts
// --------------------------------------------------
