<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      {{'WALLET_SETTINGS.title' | translate }}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list no-lines>
    <ion-item class="display-img account-header-background">
      <img class="account-img" src="assets/icons/wallet-icon.svg">
      <div class="account-header">
        {{user.email}}
      </div>
    </ion-item>
    <span class="error-message" *ngIf="message">{{message}}</span>
    <ion-item class="account-info">
        {{'WALLET_SETTINGS.sub_title' | translate }}
    </ion-item>

    <button ion-button block outline *ngFor="let o of walletOptions" class="account-options" (click)="selectOption(o.value)">
      {{o.title | translate }}
      <ion-label>
        <ion-icon class="icon-arrow" name="wallet-arrow"></ion-icon>
      </ion-label>
    </button>
<!-- 
    <div class ="change-option" *ngIf="showInput">
      <form [formGroup]="recoverWalletForm" (ngSubmit)="recoverWallet(recoverWalletForm)">
        <ion-item class="input" *ngFor="let i of recoverWalletInputs">
            <ion-label>
            {{i.placeholder | translate}}
            </ion-label>
            <ion-input type="{{i.type}}" formControlName="{{i.name}}" required></ion-input>
        </ion-item>
        <button ion-button type="submit" color="primary" block [disabled]="!recoverWalletForm.valid">
            {{'FORM.continue' | translate}}
       </button>
      </form>
    </div> -->

    <!--    Show Wallet Select -->

    <div class="change-option" *ngIf="showWalletSelect">
      <ion-item class="thin-input">
        <ion-select (ionChange)="onWalletChange()" class="select-option" [(ngModel)]="selectedWallet" placeholder="{{'WALLET_SETTINGS.select_wallet' | translate }}">
          <ion-option *ngFor="let w of wallets" [value]="w">{{w.name}}
          </ion-option>
        </ion-select>
      </ion-item>
    </div>

    <!-- Change Crypto Currency Uni -->

    <div class="change-option" *ngIf="selectedOption ==='changeCryptoUnit'">
      <ion-item class="thin-input">
        <ion-select (ionChange)="changeCryptoUnit()" class="select-option" [(ngModel)]="selectedCrypto" placeholder="{{'WALLET_SETTINGS.select_crypto_unit' | translate }}" [disabled]="!selectedWallet">
          <ion-option *ngFor="let c of cryptoUnit.units" [value]="c">{{c.name}}
          </ion-option>
        </ion-select>
      </ion-item>
    </div>

    <!--     Change Currency  -->

    <div class="change-option" *ngIf="selectedOption==='changeCurrency'">
      <ion-item class="thin-input">
        <ion-select (ionChange)="changeCurrency()" class="select-option" [(ngModel)]="selectedCurrency" placeholder="{{'coin' | translate }}">
          <ion-option *ngFor="let c of currenciesList" [value]="c">{{c}}
          </ion-option>
        </ion-select>
      </ion-item>
    </div>

    <!-- Export Wallet (WIF) and showMnemonics -->

    <div *ngIf="(selectedWallet) && (selectedOption==='exportWallet')" class="wallet-info">
      <ion-item class="wallet-info" text-wrap>
          {{'wallet' | translate }}
        <div class="wallet-info-detail">
          {{selectedWallet.name}}
        </div>
      </ion-item>
      <ion-item *ngIf ="wif" class="wallet-info">
        WIF:
        <div class="wallet-info-detail" text-wrap>
          {{wif}}
        </div>
      </ion-item>
    </div>

  </ion-list>
</ion-content>
