<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <div *ngIf="user">
        <ion-item class="menu-user">
          <ion-avatar >
            <img class="menu-img" src="{{user.photoURL}}">
          </ion-avatar>
          {{user.email}}
        </ion-item>
      </div>
      <button class="menu-option"ion-item  menuClose *ngFor="let p of pages" (click)="openPage(p)">
        <ion-icon [name]="p.icon" item-left></ion-icon>{{p.title}}
      </button>
      <button class="menu-option" ion-item menuClose (click)="logOut()">
        <ion-icon name="wallet-logout" item-left></ion-icon>Cerrar Sesión
      </button>
    </ion-list>
  </ion-content>
</ion-menu>
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
