<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      {{'SECURITY_SETTINGS.title' | translate }}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list no-lines>
    <ion-item class="display-img account-header-background">
      <img class="account-img" src="../assets/icons/wallet-icon.svg">
      <div class="account-header">
        {{user.email}}
      </div>
    </ion-item>
    <ion-item class="account-info">
        {{'SECURITY_SETTINGS.sub_title' | translate }}
    </ion-item>
    <button ion-button block outline *ngFor="let o of securityOptions" class="account-options" (click)="self[o.function]()">
      {{o.title | translate }}
      <ion-label>
        <ion-icon class="icon-arrow" name="wallet-arrow"></ion-icon>
      </ion-label>
    </button>
    <span *ngIf="(!user.emailVerified)" class="error-message">
        {{'SECURITY_SETTINGS.email_verified_message' | translate }}
        <button ion-button clear color="positive" block (click)="sendVerificationEmail()">
          {{'FORM.resend_email_button' | translate }}
        </button>
      </span>
    <div class="error-message" *ngIf="message">
      {{message}}
    </div>
  </ion-list>
</ion-content>
