<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      {{'SECURITY_SETTINGS.title' | translate }}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list no-lines>
    <ion-item class="display-img account-header-background">
      <img class="account-img" src="assets/icons/wallet-icon.svg">
      <div class="account-header">
        {{user.email}}
      </div>
    </ion-item>
    <ion-item class="account-info">
      {{'SECURITY_SETTINGS.sub_title' | translate }}
    </ion-item>
    <div *ngFor="let o of securityOptions">
      <button ion-button block outline *ngIf="o.condition(user.token)" class="account-options" (click)="self[o.function]()">
        {{o.title | translate }}
        <ion-label>
          <ion-icon class="icon-arrow" name="wallet-arrow"></ion-icon>
        </ion-label>
      </button>
    </div>
    <span *ngIf="(!user.emailVerified)" class="error-message">
      {{'SECURITY_SETTINGS.email_verified_message' | translate }}
      <button ion-button clear color="positive" block (click)="sendVerificationEmail()">
        {{'FORM.resend_email_button' | translate }}
      </button>
    </span>
    <div class="error-message" *ngIf="message">
      {{message}}
    </div>
    <span *ngIf="validateToken">
      <div class="error-message instructions">
        {{'SECURITY_SETTINGS.activate_2FA_instructions' | translate}}
      </div>
      <ion-item class="thin-input">
          <ion-input type="number" [(ngModel)] = "token" placeholder="{{'FORM.token'| translate }}"
          maxlength="6" minlength="6"></ion-input>
      </ion-item>
      <div class="error-message" *ngIf="error">
          {{error}}
        </div>
      <button ion-button block class="send-button button-continue" [disabled] = "token === undefined" (click) ="verifyToken()">
          {{'FORM.continue' | translate }}
      </button>
    </span>
  </ion-list>
</ion-content>
