<ion-header>
  <ion-navbar>
    <ion-title>{{'ADDRESS.title' | translate }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="addressForm" (ngSubmit)="onSubmit(addressForm)">
    <ion-list no-lines>
      <ng-container *ngFor="let i of inputs">
        <ion-item class="input" *ngIf="i.name!=='id' && i.name!=='img'">
          <ion-label>
            {{i.placeholder | translate}}
          </ion-label>
          <ion-input type="{{i.type}}" formControlName="{{i.name}}" required></ion-input>
        </ion-item>
        <div *ngIf="i.name==='img'">
          <button ion-button color="secondary" block>
            {{'FORM.select_image' | translate}}
          </button>
        </div>
      </ng-container>
      <button ion-button type="submit" color="primary" block [disabled]="!addressForm.valid">
        {{'FORM.save' | translate}}
      </button>
      <div class="error-message" *ngIf="error">
        {{error}}
      </div>
    </ion-list>
  </form>
</ion-content>
