page-show-mnemonics {
    .mnemonic-word {
        height: 3em;
        font-size: $font-size-mnemonics;
        text-align: center;
        color: $secondary;
        background-color: $light;
        border: $padding-sm solid white;
    }

    .mnemonics-info {
        font-size: $font-size-small-title;
        color: $secondary;
        text-align: center;
        margin-bottom: $padding-sm;
    }
}
