<ion-header>
  <ion-navbar>
    <ion-title>
      {{'SEND.title' | translate}}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="page-title">
    {{'SEND.sub_title' | translate}}
  </div>
  <ion-list no-lines>
    <button ion-button class="send-button button-select-address" block (click)="goToAddress()">
      {{'SEND.address_book' | translate}}
    </button>
    <button ion-button class="send-button button-scan-code" block (click)="scanQRCode()">
      {{'SEND.scan_qr' | translate}}
    </button>
    <form [formGroup]="selectAddressForm" (ngSubmit)="validateForm(selectAddressForm)">
      <div *ngFor="let i of inputs">
        <div class = "message-token" *ngIf= "i.name === 'token'">
          {{ 'SEND.token_required' | translate }}
        </div>
        <ion-item class="thin-input">
          <ion-input type="{{i.type}}" formControlName="{{i.name}}" placeholder="{{i.placeholder| translate }}"></ion-input>
        </ion-item>
      </div>  
      <div *ngIf="this.inputError" class="error-message">
        {{inputError}}
      </div>
      <ion-item no-lines *ngIf="selectedAddress!=undefined" class="address-container">
        <img class="address-img" src="{{selectedAddress.img}}" />
        <div class="address-alias">
          {{selectedAddress.alias}}
        </div>
        <div class="address-email">
          {{selectedAddress.email}}
        </div>
      </ion-item>
      <ion-footer>
        <button [disabled]="!selectedAddress && !selectAddressForm.valid" ion-button block class="send-button button-continue" type="submit">
          {{'FORM.continue' | translate }}
        </button>
      </ion-footer>
    </form>
  </ion-list>
</ion-content>
