.send-button {
    width: $button-width-lg;
    text-align: center;
}

.button-scan-code{
    background-color: $secondary;;
}

.button-continue{
    width: $button-width-md;
}

.transparent-body {
    background: none transparent !important;
    background-color: none;
    display: none !important;
}
