page-transaction-confirmation{

    .transaction-title{
        margin-top: $padding-sm;
        color: $secondary;
        font-weight: bold;
        text-align: left;
    }

    .transaction-list{
        color: $dark;
        text-align: left;
        margin-top: 0;
    }
    
    .transaction-confirmation {
        padding-bottom: 0px!important;
        margin-bottom: 0px;
        border-top: 3px solid $secondary;
    }
}