<ion-header>
  <ion-navbar>
    <ion-title>{{'TRANSACTION_CONFIRMATION.title' | translate }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="page-title">
    {{'TRANSACTION_CONFIRMATION.sub_title' | translate }}
  </div>
  <ion-card class="transaction-confirmation selectable">
    <ion-list>
      <ion-item>
        <div class="transaction-title">
          <ion-icon name="transaction-hash" item-left class="transaction-icon"></ion-icon>
            {{'TRANSACTION_CONFIRMATION.hash' | translate }}
        </div>
        <span class="transaction-text">{{transaction.hash}}</span>
      </ion-item>
      <ion-item>
        <div class="transaction-title">
          <ion-icon name="transaction-output" item-left class="transaction-icon"></ion-icon>
            {{'TRANSACTION_CONFIRMATION.output' | translate }}
        </div>
        <div *ngFor="let o of transaction.outputs | pluck: 'addresses'">
          <span class="transaction-text">{{o}}</span>
        </div>
      </ion-item>
      <ion-item>
        <div class="transaction-title">
          <ion-icon name="transaction-input" item-left class="transaction-icon"></ion-icon>
            {{'TRANSACTION_CONFIRMATION.input' | translate }}
        </div>
        <div *ngFor="let i of transaction.inputs | pluck: 'addresses'">
          <span class="transaction-text">{{i}}</span>
        </div>
      </ion-item>
      <ion-item>
        <div class="transaction-title">
          <ion-icon name="transaction-amount" item-left class="transaction-icon"></ion-icon>
            {{'TRANSACTION_CONFIRMATION.amount' | translate }}
        </div>
        <span class="transaction-text">{{transaction.outputs[0].value / wallet.crypto.units.exchange | number }} {{wallet.crypto.units.name}} </span>
      </ion-item>
      <ion-item>
        <div class="transaction-title">
          <ion-icon name="transaction-fee" item-left class="transaction-icon"></ion-icon>
            {{'TRANSACTION_CONFIRMATION.fee' | translate }}
        </div>
        <span class="transaction-text">{{transaction.fees / wallet.crypto.units.exchange | number }} {{wallet.crypto.units.name}} </span>
      </ion-item>
      <ion-item class="transaction-received">
        <div class="transaction-title transaction-received">
          <ion-icon name="transaction-received" class="transaction-received-icon"></ion-icon><br>
            {{'TRANSACTION_CONFIRMATION.received_time' | translate }}
        </div>
        <span class="transaction-text">{{transaction.received | date:'MMM dd, y hh:mm a'}}</span>
      </ion-item>
      <ion-item *ngIf="metadata">
        <div class="transaction-title">{{'TRANSACTION_CONFIRMATION.metadata' | translate }}</div>
        <span class="transaction-text">{{metadata}}</span>
      </ion-item>
    </ion-list>
  </ion-card>
  <button class="send-button button-continue" ion-button block (click)="goBack()">
    {{'FORM.go_back' | translate }}
  </button>
</ion-content>